.card-body{
    position: relative;
}
.info-bottom {
    position: absolute;
    bottom: 0;
}
.info-right{
    position: absolute;
    right: 7px;
}
.spaced-div{
    margin-bottom: 10px;
    margin-top: 10px;
}
.filter-btn{
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
#btn-header{
    margin: 0 auto;
    width: 300px;
}

.positive-result{
    /*background-color:#d4edda;*/
    /*border-color:#c3e6cb;*/
    color:#155724;
}

.negative-result{
    color:#721c24;
    /*background-color:#f8d7da;
    border-color:#f5c6cb*/
}

.neutral-result{
    color:#0c5460;
    /*background-color:#d1ecf1;
    border-color:#bee5eb*/
}

#my_votes{
    padding-top: 10px;
}