.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 25px;
    line-height: 1.42;
    border-radius: 30px;
    z-index: 200;
}

.fixed-bottom{
    position: fixed;
    bottom: 2%;
}

.fixed-right{
    position: fixed;
    left: 92%;
}